<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>net.pi-hole.pihole-FTL</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/pihole-FTL</string>
        <string>-f</string>
    </array>

    <key>UserName</key>
    <string>pihole</string>

    <key>GroupName</key>
    <string>pihole</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>ThrottleInterval</key>
    <integer>5</integer>

    <key>StandardOutPath</key>
    <string>/var/log/pihole/FTL.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/pihole/FTL.stderr.log</string>

    <key>WorkingDirectory</key>
    <string>/etc/pihole</string>
</dict>
</plist>
